@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Fredoka:wght@300&display=swap');
:root{
    --main-bg-color: #2874f0;
}
header{
    height: 58px;
    background-color: var(--main-bg-color); /*using global variable*/
    border:  2px solid whitesmoke;
    font-family: 'Fredoka', sans-serif;
    color: white;
}

nav{
    display: flex;
} 
nav ul{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a:hover{
    color: white;
    font-weight: bold;
}
nav ul li a{
    color: black;
    text-decoration: none;/* to remove blue underline */
}

.red{
    background-color:lemonchiffon;
    height: 344px;
}
*{
    padding: 0; 
    margin: 0;
}